<div class="row">
    <div class="col">
        <div ngbDropdown class="d-inline-block">
            <a class="nav-link active" id="dropdownBasic1"
                ngbDropdownToggle>Admin Data</a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem routerLink="/adminUserData">Registered Customers</button>
                <button ngbDropdownItem routerLink="/adminPremiumReq">Premium Pay requests</button>
                <button ngbDropdownItem routerLink="/adminEnquiries">Enquiries</button>
            </div>
        </div>
    </div>
</div><br><br>

<table class="table table-bordered table-danger">
    <tr>
        <th>Policy Number</th>
        <th>DOB of Customer</th>
    </tr>
    <tr *ngFor="let x of premiumDetails">
        <td>{{x.polNum}}</td>
        <td>{{x.date}}</td>
    </tr>
</table>