<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="dashboard">Policies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="whyInsurance">Why Insurance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="about">About Us</a>
                </li>

                <div class="row">
                    <div class="col">
                        <div ngbDropdown class="d-inline-block">
                            <a class="nav-link active" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</a>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                <button ngbDropdownItem>Action - 1</button>
                                <button ngbDropdownItem>Another Action</button>
                                <button ngbDropdownItem>Something else is here</button>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
            <form class="d-flex me-5">
                <button class="btn btn-outline-primary me-3" type="" routerLink="/register"
                    *ngIf="showSignup == true">Sign Up</button>

                <button class="btn btn-outline-info" type="" routerLink="login" (click)="onLogin()"
                    *ngIf="showLogin == true">Login</button>

                <button class="btn btn-outline-info" type="" routerLink="home" (click)="onLogout()"
                    *ngIf="showLogout == true">Logout</button>
            </form>
        </div>
    </div>
</nav>

<!-- <button pButton type="button" label="Click" ></button> -->
<!-- <p-button label="Click" ></p-button> -->